<div class="container">
　<div class="text-center">
　　<div class="border border-white shadow-lg">

　　　<h2><strong style="color:white;">・・・新規登録・・・</strong></h2>

      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="field" style="margin-top:15px;">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field" style="margin-top:15px;">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field" style="margin-top:15px;">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

      <i class="fab fa-suse fa-10x hover"></i><br>
      <%= link_to 'ログイン画面へ', new_user_session_path, class: "btn btn-outline-dark" %>


　　</div>
　</div>
</div>