<h1>SmallCategory#index</h1>

<div class="justify-content-center">
    <div class="col text-center">


　　　<div class="col-md-4">

        <div class="card shadow-lg" style="width: 30rem;">
            <div class="card-header">
             <%= @large_category.genre.name %>
            </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= @large_category.problem %></li>
            <li class="list-group-item"><%= @large_category.solution %></li>
          </ul>
        </div>

        <%= link_to '新規ノート', new_large_category_small_category_path, class: "btn btn-primary col-xs-12" %>

      </div>

    　　　<div class="col-md-5 offset-md-1">

            <% @small_categories.each do |small_category| %>

            <div class="card" style="width: 30rem;">
              <div class="card-header">
               <%= link_to small_category.title, small_category_path(small_category) %>
              </div>
            </div>
            <% end %>

        </div>

  </div>
</div>