
<div class="container" style="margin-top:-6px;">

      <!--<h3>note</h3>-->
      <%= link_to 'ノート一覧へ戻る', large_category_small_categories_path(@large_category), class: "link far fa-arrow-alt-circle-left" %>


            <%= form_with model:[@large_category, @small_category], url: large_category_small_categories_path, method: :post, local:true do |f| %>

                <%= render 'layouts/errors', bg: @small_category %>

                <div class="text_field">
                   <%= f.label :title %><br>
                   <%= f.text_field :title %><br>
                   <%= f.hidden_field :large_category_id, :value => @large_category.id %>
                </div>
                <textarea id="summernote" name="small_category[note]"></textarea>

                <%= f.submit '登録する', class: "btn btn-dark col-xs-12 text-right" %>

            <% end %>
</div>

<!--summernote-->
<!--現状、一番表示が安定しているcdnの組み合わせです。-->

     <!-- include libraries(jQuery, bootstrap) -->
    <!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

     <!--include summernote css/js-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/lang/summernote-ja-JP.js"></script>


<!--summernote（編集ができる）-->
    <script>
    $('#summernote').summernote({
      tabsize: 2,
      height: 450,
       toolbar: [
              ['style', ['style']],
              ['font', ['bold', 'underline', 'clear']],
              ['color', ['color']],
              ['para', ['ul', 'ol', 'paragraph']],
              ['table', ['table']],
              ['view', ['fullscreen', 'codeview', 'help']]
            ]
          });
    </script>


