<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

  <%= form_with model: @user, local:true do |f| %>

         <%= render 'layouts/errors', bg: @user %>

       <p class="Name_field">
          <%= f.label :name %><br>
          <%= f.text_field :name, size: 40 %><br>
       </p>
       <p class="ProfileImage_field">
          <%= f.label :image %><br>
          <%= f.file_field :image %>
       </p>
       <p class="text_area">
          <%= f.label :goal %><br>
          <%= f.text_area :goal, size: "40x5" %><br>
       </p>
           <%= f.submit "Update User" %>
 <% end %>

