<div class="container">
  <div class="row">
    <div class="col-sm">

      <h1>ユーザー編集</h1>

        <%= form_with model: @user, local:true do |f| %>
          <%= render 'layouts/errors', bg: @user %>

             <p class="Name_field">
                <%= f.label :name, "名前" %><br>
                <%= f.text_field :name, size: 40 %><br>
             </p>
             <p class="ProfileImage_field">
                <%= f.label :image, "好きな写真" %><br>
                <%= f.file_field :image %>
             </p>
             <p class="text_area">
                <%= f.label :goal, "目標・好きな言葉" %><br>
                <%= f.text_area :goal, size: "40x5" %><br>
             </p>
                <%= f.submit "保存する", class: "btn btn-dark col-xs-12"  %>
        <% end %>
    </div>
  </div>
</div>