<div class="container" style="margin-top:150px;">
  <div class="row">

  <div class="card shadow-lg" style="width:25rem; border:3mm inset rgb(130, 101, 73)">

    <% if @user.image.attached? %>
          <%= image_tag @user.image.variant(resize:'100x100') %>
        <% else %>
         <%= image_tag 'no-image.jpg' %>
        <% end %>
  </div>



<div class="card shadow-lg mx-auto" style="width:60%;">
  <div class="card-body">
    <h1 class="card-title"><strong>Home</strong></h1>

    <h4 class="card-username">Name：<%= @user.name %></h4>
    <h6 class="card-subtitle mb-2 text-muted"><%= @user.goal %></h6>
  </div>

  <div class="card-text">
    <%= link_to 'myデータベース', user_large_categories_path(@user, @large_category), class: "btn btn-primary col-xs-12" %>
    <%= link_to '検索する', search_large_categories_path, class: "btn btn-primary col-xs-12" %>
    <%= link_to 'まとめてポイlist', new_todo_path, class: "btn btn-primary col-xs-12" %>
    <%= link_to 'ユーザー編集', edit_user_path(current_user), class: "btn btn-primary col-xs-12" %>
    <i class="fab fa-suse fa-4x hover fa-flip-horizontal text-right" style="bottom:0; padding:0;"></i>
  </div>
</div>

 </div>
</div>
