<div class="container" style="margin-top:80px;">
  <div class="row text-center">
    <div class="card Polka shadow-lg mx-auto" style="width:60%;">

<!--ユーザー-->
      <div class="card-body">
        <i class="fab fa-suse fa-5x hover fa-flip-horizontal" style="margin-top:20px;"></i>
        <h5 class="card-name">こんにちは！<%= @user.name %>さん</h5>
        <h6 class="card-goal mb-2 text-muted">- <%= @user.goal %> -</h6>
      </div>

      <div class="card shadow-lg mx-auto" style=" width:12rem;">
        <% if @user.image.attached? %>
          <%= image_tag @user.image.variant(resize:'300x300') %>
         <% else %>
          <%= image_tag 'no_image.jpg' %>
        <% end %>
        <%= link_to '', edit_user_path(current_user), class:"fas fa-user-edit fa-1x" %>
      </div>

      <div class="card-botton" style="padding:50px;">
        <%= link_to 'デバッグ帳', user_large_categories_path(@user, @large_category), class:"debugcho-botton" %>
      </div>

    </div>
  </div>
</div>
