<h1>Users#show</h1>

<div class="justify-content-center">
    <div class="col text-center">

        <div style=font-size:40px;><%= @user.name %></div>

        <%= link_to '大カテゴリ一覧', user_large_categories_path(@user, @large_category), class: "btn btn-primary col-xs-12" %>

        <%= link_to '検索する', search_large_categories_path, class: "btn btn-primary col-xs-12" %>

        <%= link_to 'ToDo', new_todo_path, class: "btn btn-primary col-xs-12" %>

        <%= link_to 'ユーザー編集', edit_user_path(current_user), class: "btn btn-primary col-xs-12" %>

    </div>
</div>






