<div class="justify-content-center">
    <div class="mx-auto text-center">

      <div class="col-md-12">

        <h5>管理者画面</h5>
        <h1>ジャンル編集</h1>

             <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch, local:true do |f| %>

             <%= render 'layouts/errors', bg: @genre %>

            <div class="text_area">
               <%= f.label :name %><br>
               <%= f.text_area :name %><br>
            </div>
           <%= f.submit '更新する', class: "btn btn-primary col-xs-12" %>
         <% end %>
      </div>


    </div>
</div>