<div class="container">
  <div class="text-center">
    <div class="border border-white shadow-lg">


          <h3>エラーカテゴリー編集</h3>

           <%= link_to '一覧へ戻る',  user_large_categories_path(@large_category), class: "link far fa-arrow-alt-circle-left" %>

           <%= form_with model: @large_category, local:true do |f| %>

              <%= render 'layouts/errors', bg: @large_category %>

              <div class="form text-center" style="padding:20px;">
                <span><%= f.label :genre_id, "ジャンル" %></span>
                <%= f.collection_select :genre_id, Genre.all, :id, :name %>
              </div>

              <div class="text_field" style="padding:20px;">
                 <%= f.label :problem %><br>
                 <%= f.text_field :problem %><br>
              </div>

              <div class="text_area" style="padding:20px;">
                 <%= f.label :solution  %><br>
                 <%= f.text_area :solution %><br>
              </div>
             <%= f.submit '保存する', class: "btn btn-dark col-xs-12" %>
          <% end %>

    </div>
  </div>
</div>