<h1>LargeCategory#index</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
       <h3>New</h3>

       <%= form_with model: @large_category, url: user_large_categories_path, local:true do |f| %>

       <%= render 'layouts/errors', bg: @large_category %>

         <div class="form-inline mb-3 text-right">
            <span><%= f.label :genre_id, "ジャンル" %></span>
            <span><%= f.collection_select :genre_id, Genre.all, :name, :name %></span>
          </div>

          <div class="text_field">
             <%= f.label :problem %><br>
             <%= f.text_field :problem %><br>
          </div>

          <div class="text_area">
             <%= f.label :solution  %><br>
             <%= f.text_area :solution %><br>
          </div>
         <%= f.submit '新規作成', class: "btn btn-primary col-xs-12" %>
       <% end %>


			<% @large_categories.each do |large_category| %>
          <div class="card" style="width: 30rem;">
            <div class="card-header">
             	<div class="fa-solid fa-pen" "fa-solid fa-trash-can">
               <%= genre.name %>
              </div>
            </div>

              <ul class="list-group list-group-flush">
               <li class="list-group-item"><%= large_category.problem %></li>
               <li class="list-group-item"><%= large_category.solution %></li>
              </ul>
          </div>
      <% end %>

      <%= link_to 'ジャンル一覧', genres_path(@genre,@large_category), class: "btn btn-primary col-xs-12" %>
    </div>
  </div>
</div>