<div class="container">
  <div class="row">

    <div class="col-lg-5">
      <div id="large_category__index" class="border border-white shadow-lg" style="padding:10px;">
    	  <h2><i class="fas fa-plus-square"></i>myデータベース</h2>
    	  <i class="fab fa-suse fa-10x hover"></i>

  <!--Newフォーム-->
        <h3>New</h3>

        <%= form_with model: @large_category, url: user_large_categories_path, local:true do |f| %>

        <%= render 'layouts/errors', bg: @large_category %>


          <div class="form-inline mb-3 text-right">
             <span style="margin-right:30px;"><%= f.label :genre_id, "ジャンル" %></span>
             <%= f.collection_select :genre_id, Genre.all, :id, :name %>
          </div>

          <div class="text_field">
             <%= f.label :problem, "問題・原因" %><br>
             <%= f.text_field :problem, size: "40", class: "form-control" %><br>
          </div>

          <div class="text_area">
             <%= f.label :solution, "解決・詳細"  %><br>
             <%= f.text_area :solution, size: "40", class: "form-control"  %><br>
          </div>
         <%= f.submit '新規作成', class: "btn btn-dark col-xs-12" %>

        <% end %>
      </div>
    </div>


<!--カテゴリー一覧-->
	  <div class="col-lg-7">

			<% @large_categories.each do |large_category| %>

			  <div class="card shadow-lg mx-auto" style="width:100%; margin:15px;">
					<div class="card-header">
						 <strong><%= large_category.genre.name %></strong>
             <%= link_to '', edit_large_category_path(large_category), class: "fas fa-edit" %>
             <div class="fas fa-trash" data-toggle="modal" data-target="#large_category-Modal"></div>
							<div class="float-right">
							   <%= link_to '', large_category_small_categories_path(large_category), class: "fas fa-book-open fa-2x" %>
							</div>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><i class="fas fa-exclamation-circle"></i><%= large_category.problem %></li>
            <li class="list-group-item"><i class="far fa-lightbulb"></i><%= large_category.solution %></li>
					</ul>
				</div>

<!--削除確認モーダル-->
        <div class="modal fade" id="large_category-Modal"  role="dialog" aria-labelledby="basicModal" aria-hidden="true">
          <div class="modal-dialog">
           <div class="modal-content">
            <div class="modal-header">
              <h3><div class="modal-title">削除確認</div></h3>
            </div>
            <div class="modal-body">
              <label>エラーカテゴリー内のnoteも一緒に削除されます。データを削除しますか？</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-dismiss="modal">閉じる</button>
              <%= button_to "削除", large_category_path(large_category), method: :delete, class: "btn btn-danger" %>
            </div>
           </div>
          </div>
        </div>
	    <% end %>
	    <%= paginate @large_categories %>
	  </div>

  </div>
</div>