<h1>MiddleCategory#index</h1>
<div class="container-fluid">
  <div class="row">
     <div class="col-md-3">

        <%= form_with model: @middle_category, url: large_category_middle_categories_path(@middle_categories), local:true do |f| %>
        
         <div class="text_field">
            <%= f.label :problem %><br>
            <%= f.text_field :problem %><br>
         </div>
        
         <div class="text_field">
            <%= f.label :solution %><br>
            <%= f.text_field :solution %><br>
         </div>
          <%= f.submit '新規作成', class: "btn btn-primary col-xs-12" %>
         <% end %>
        
        
        
         <div class="col-md-8 offset-md-1">
              <h1>中カテゴリー</h1>
                 <table class="middle_category">
                   <thead>
                       <tr>
                         <th>problem</th>
                         <th>solution</th>
                       </tr>
                   </thead>
                   <tbody>
                    <% @middle_categries.each do |middle_category| %>
                     <tr>
                      <td><%= link_to middle_category.problem, middle_category_small_categories_path(middle_category) %></td>
                      <td><%= middle_category.solution %></td>
                     </tr>
                    <% end %>
                   </tbody>
                 </table>
     </div>
  </div>
</div>
