<div class="container">
　<div class="text-center">
　　<div class="border border-white shadow-lg padding:5px;">

      <h2><strong style="color:white;">・・・ログイン・・・</strong></h2><br>

      <%= form_with model: @user, url: user_session_path, local: true do |f| %>

        <div class="field" style="margin-top:15px;" >
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field" style="margin-top:15px;">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field" style="margin-top:15px;">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>

      <i class="fab fa-suse fa-10x hover"></i><br>
      <div style="margin-bottom:15px;">
        <%= link_to '新規登録へ', new_user_registration_path, class: "btn btn-outline-dark" %>
      </div>

　　</div>
　</div>
</div>