<h1>Todos#new</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
       <h3>New</h3>

           <%= form_with model: @todo, local:true do |f| %>

           <%= render 'layouts/errors', bg: @todo %>

          <div class="text_area">
             <%= f.text_area :task %><br>
          </div>
         <%= f.submit '新規作成', class: "btn btn-primary col-xs-12" %>
       <% end %>

        <% @todo.each do |todo| %>
          <div class="card" style="width: 30rem;">
            <i class="fa-solid fa-pen"></i><i class="fa-solid fa-trash-can"></i>
             <%= todo.task %>
            </div>
          </div>
        <% end %>
       <%= link_to 'user/show', user_path(current_user), class: "btn btn-primary col-xs-12" %>
    </div>
  </div>
</div>