<!DOCTYPE html>
<html>
  <head>
    <title>Debugcho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- include summernote css/js -->
<!--<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">-->
<!--<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>-->
  </head>

  <body>
    <header class="navbar navbar-fixed-top ">
    <div class="container-fluid">
    　<nav class="navbar-nav mr-auto">
        <%= link_to image_tag('logo.png'), root_path, class:"header-title" %>
      </nav>
      <nav>
     <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
    </nav>
    </div>
   </header>
    <%= yield %>
  </body>
</html>
