<!DOCTYPE html>
<html>
  <head>
    <title>Debugcho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <!-- jquery-uiの読み込み  -->
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

    <!-- summernoteの読み込み  -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

    <!-- FontAwesomeの読み込み  -->
    <script src="https://kit.fontawesome.com/91ca5c5bd0.js" crossorigin="anonymous"></script>
  </head>


    <body style="padding:5rem">

      <header class="navbar navbar-expand navbar-dark bg-info fixed-top" >
        <div class="container-fluid">


            <% if user_signed_in? %>
                <nav class="navbar-nav mr-auto">
                  <%= link_to image_tag('top-logo-header.png'), user_path(current_user), class:"header-title" %>
                </nav>
                <nav class="navbar-nav ml-auto">
                  <%= link_to '使い方', about_path, class: "btn btn-dark col-xs-12" %>
                  <%= link_to '検索する', search_large_categories_path, class: "btn btn-dark col-xs-12" %>
                  <%= link_to 'まとめてポイlist', new_todo_path, class: "btn btn-dark col-xs-12" %>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-dark col-xs-12" %>
                </nav>
            <% else %>
                <nav class="navbar-nav mr-auto">
                  <%= link_to image_tag('top-logo-header.png'), root_path, class:"header-title"  %>
                </nav>
                 <nav class="navbar-nav ml-auto">
                  <%= link_to '使い方', about_path, class: "btn btn-dark col-xs-12" %>
                </nav>
            <% end %>
          </nav>
        </div>
      </header>
      <p class="notice alert alert-danger text-center" style="margin-top:0.7rem; padding:0;"><%= notice %></p>
      <%= yield %>
      <footer class="footer bg-info fixed-bottom" style="hight:1rem;">
      <div class="container">
    <p class="text-center">Take it easy.</p>
    </body>
</html>
